html {
    font-size: 10px; /* px means "pixels": the base font size is now 10 pixels high */
    font-family: "Rubik Doodle Shadow", sans-serif; /* this should be the rest of the output you got from Google Fonts */
    color: rgb(0, 0, 0);
    background-color: #ffffff;
  }

body {
    margin: 0 auto;
    background-color: #ffffff;
    }

.mainbody{
    padding: 50px 300px;
}

.container {
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

img {
    max-width: 100%;
    max-height: 100%;
    }

.text {
    padding-right: 20px;
}

h1 {
    font-size: 60px;
    text-align: center;
    margin: 0;
    padding: 20px 0;
    color: #1C50F5;
    }

h2 {
    color: #1C50F5;
    font-size: 20px;
}

p,
li {
    font-size: 16px;
    line-height: 2;
    letter-spacing: 1px;
    }

.list {
    margin: 0;
    padding: 0;
}

footer {
    text-align: center;
    padding: 20px;
    color: #000;
    font-size: 12px;
  }

.list-container {
    flex: 1;
    margin-right: 20px; /* Adjust as needed to create space between lists */
  }