*{ /* apply to all properties in html */
    margin: 0;
    padding: 0;
    font-family: "Rubik Doodle Shadow", sans-serif; /* apply font family to all elements */
}

h2 {
    color: #1C50F5;
    font-size: 20px;
}

p,
li {
    line-height: 2;
    letter-spacing: 1px;
    }

/* navigation bar */

.header{ 
    min-height: 10vh; /* set the min height of the header */
    width: 100%; /* set the total width of the header */
    background-color:aliceblue;
}

.header nav a{
    text-decoration: none; /* no underline */
    color: #1C50F5; /* color of text */
    font-size: 20px /* font size of text */
}

nav{
    display: flex; /* flex container */
    padding: 2% 6%; /* 2% padding top and bottom, 6% padding left and right */
    justify-content: space-between; /* align items along the main axis (horizontal) */
    align-items: center; /* align items along the cross axis (vertical) */
}

.nav-links{
    flex: 1; /* expand and fill the remaining space in a flex container */
    text-align: right; /* align the items to the right */
}

.nav-links ul li{
    list-style: none; /* no bullet points */
    display: inline-block; /* to allow items to be placed on the same line */
    padding: 0px 12px; /* to set left and right spacing between each links */
    position: relative; /* position relative to its normal position */
}

.nav-links ul li a{
    color: #1C50F5; /* color of text */
    text-decoration: none; /* no underline */
    font-size: 16px; /* font size of text */
}

.nav-links ul li::after{ /* insert additional content ontop of the actual content */
    content: ''; /* empty content to generate content later on */
    width: 0%; /* initial width to 0% */
    height: 2px; /* thickness of line to be generated */
    background: #000000; /* color of line */
    display: block; /* display property to block to ensure content generated behaves like a block, taking up full width available */
    margin: auto; /* centers the line */
    transition: 0.5s; /* duration of transition effect */
}

.nav-links ul li:hover::after{ /* apply after effect on hover */
    width: 100% /* set width to 100% to show the underline */
}

nav .fa-solid{
    display: none;
}

nav h2{
    display: none;
}

/* about me */

.about-me{
    width: 80%; /* width to only take 80% of the webpage */
    margin: auto; /* to automatically center it horizontally */
    padding-top: 80px; /* space from the top */
    padding-bottom: 5px; /* space from the bottom */
}

.row{
    display: flex; /* flex container */
}

.about-col{
    flex-basis: 50%; /* set width to be 48% of the container's width */
    padding: 30px 0px; /* 30px space from top, bottom and 2px space from left, right */
}

.about-col img{
    width: 100%; /* take up full width of column */
}

.about-col h1{
    padding-top: 0; /* zero padding */ 
}

.about-col p{
    padding: 15px 0 25px; /* 15px padding top, 0 padding left right, 25px padding bottom */
}

.about-col img{
    padding-left: 20px;
}

/* hobbies */

.hobbies{
    width: 80%;
    margin: auto;
}

/* achievements & work experiences */

.achievements{
    width: 80%; /* width to only take 80% of the webpage */
    margin: auto; /* to automatically center it horizontally */
    padding-top: 80px; /* space from the top */
    padding-bottom: 10px; /* space from the bottom */
}

.achievements-col{
    flex-basis: 50%; /* set width to be 48% of the container's width */
    padding: 30px 2px; /* 30px space from top, bottom and 2px space from left, right */
}

.achievements-col h1{
    padding-top: 0; /* zero padding */ 
}

.achievements-col p{
    padding: 15px 0 25px; /* 15px padding top, 0 padding left right, 25px padding bottom */
}

/* projects */
.projects{
    padding-top: 80px; /* space from the top */
    width: 80%;
    margin: auto;
}

.projects h2{
    padding-bottom: 5px;
    text-align: center;
}

.projects .row{
    justify-content: center;
}

.projects-column{
    flex-basis: 25%;
    padding: 30px 30px;
}

.card {
/* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px; /* 5px rounded corners */
    height: 100%;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Add some padding inside the card container */
.container {
    padding: 2px 16px;
}

img {
    border-radius: 5px 5px 0 0;
    width: 100%;
    height: auto;
    background-position: center;
}

/* autonomous-project*/
.autonomous-project{
    padding-top: 80px; /* space from the top */
    width: 80%;
    margin: auto;
}

.autonomous-project h1{
    padding-bottom: 25px;
    text-align: center;
}

.autonomous-project-facts h1{
    text-align: center;
    padding-bottom: 25px;
}


.autonomous-project-facts{
    padding-top: 80px; /* space from the top */
    width: 80%;
    margin: auto;
}

.facts-col{
    flex-basis: 50%; /* set width to be 48% of the container's width */
    padding: 30px 2px; /* 30px space from top, bottom and 2px space from left, right */
}

.facts h1{
    padding-top: 0; /* zero padding */ 
}

.facts p{
    padding: 15px 0 25px; /* 15px padding top, 0 padding left right, 25px padding bottom */
}

.electrical-col{
    flex-basis: 50%; /* set width to be 48% of the container's width */
    padding: 20px 0px; /* 30px space from top, bottom and 2px space from left, right */
    margin-right: 100px;
}

.electrical-col img{
    width: 50%; /* take up full width of column */
    height: 60%;
    padding-top: 20px;
}

.electrical-col h1{
    padding-top: 0; /* zero padding */ 
}

.electrical-col p{
    padding: 15px 0 25px; /* 15px padding top, 0 padding left right, 25px padding bottom */
}

.electrical-col video{
    padding-top: 10px;
    object-fit: fill;
}

/* contact */

.contact{
    padding-top: 100px;
    width: 80%;
    margin: auto;
    text-align: center;
}

.contact h2{
    margin-bottom: 10px;
}

.contact a i {
    color:rgb(30, 48, 80);
}

/* footer */

footer {
    width: 80%;
    margin: auto;
    text-align: center;
    padding: 20px;
    color: #000;
    font-size: 12px;
}

/* media query */

@media(max-width: 700px){

    /* nav bar */

    .nav-links ul li{
        display: block; /* becomes a block-level element */
    }

    .nav-links{
        position:absolute; /* position with respect to its nearest positioned ancestor */
        background:#e1e2e7;
        height: 100vh; /* 100% of viewport height */
        width: 300px; /* width of element to 200px */
        top: 0px; /* top of screen */
        right: -300px; /* right of screen */
        text-align: center; /* makes text on the left */
        z-index: 2; /* stack ontop of elements with lower z-index */
        transition: 1s;
    }

    nav h2{
        display: inline-block;
        padding: 20px;
    }

    nav .fa-solid{
        display: block;
        color: #000000;
        margin: 10px;
        font-size: 20px;
        cursor: pointer;
        text-align: right;
    }

    .nav-links ul{
        padding: 5px;
    }

    .about-me .row{
        flex-direction: column-reverse;
    }

    .row{
        flex-direction: column;    
    }

}